sourcecode/WingTipTickets/Tenant.Azure/csx/Debug/roles/Tenant.Mvc/plugins/Diagnostics/Monitor/x64/schema/1.0/NameValuePairListing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="NameValuePairType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NameValuePairListingType">
    <xs:sequence>
      <xs:element name="NameValuePair" type="NameValuePairType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:element name="NameValuePairListings" type="NameValuePairListingType" />

</xs:schema>
